<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authentication</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <div class="container my-4">
        <form action="uploadPage" method="POST">
            <h2>Enter the Password</h2>
            <p>
                <input type="password" name="password" required>
            </p>
            <button type="submit" class="btn btn-secondary">Login</button>
        </form>
    </div>
</body>

</html>