<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <title>Result Portal</title>
</head>

<body>
    <div class="container mt-5">
        <h2 class="text-center">Result Portal</h2>
        <form action="result" method="POST" enctype="application/x-www-form-urlencoded">
            <div class="form-group">
                <label for="RollNo">Roll Number</label>
                <input type="number" class="form-control" name="RollNo" id="RollNo" placeholder="Enter Roll Number"
                    required />
            </div>

            <div class="form-group">
                <label for="classno">Class</label>
                <select class="form-control" name="classno" id="classno" required>
                    <option disabled selected value>Select Class</option>
                    <option value="10">Class 10</option>
                    <option value="12">Class 12</option>
                </select>
            </div>

            <div class="form-group">
                <label for="year">Year</label>
                <select class="form-control" name="year" id="year" required>
                    <option disabled selected value>Select Year</option>
                    <option value="2022">2022</option>
                    <option value="2021">2021</option>
                    <option value="2020">2020</option>
                </select>
            </div>
            <div class="form-group text-center">
                <button type="submit" class="btn btn-primary">Get Result</button>
                <button type="reset" class="btn btn-secondary ml-3">Reset</button>
            </div>
        </form>

        <!-- <p>
            <span class="fs-md-3">Click here to upload result file - </span>
            <button class="btn btn-secondary"><a class="text-light text-decoration-none" href="auth">Upload</a></button>
        </p> -->
        <div class="text-center mt-3">
            <a href="auth" class="btn btn-info">Upload Result</a>
        </div>
    </div>
    <script src="/javascripts/script.js"></script>
</body>

</html>