<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Success</title>
</head>

<body>
    <div class="container d-flex flex-column justify-content-center align-items-center">
        <h2 class="my-4">File Uploaded Successfully!</h2>
        <p class="text-success">Your file has been uploaded successfully to the server.</p>
        <a href="/" class="btn btn-primary">Go Back to Homepage</a>
    </div>
</body>

</html>